@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.chatGradientBackground {
  background: #fed00150;
}

.logoColour { background: 'rgba(254,113,1,255)'}

.inputGradientBackground {
  background: linear-gradient(to bottom,  #55300000,#da020200);
}
